{% extends 'base.html' %}

{% block title %}{{ stadium.name }}{% endblock %}

{% block content %}
  <a class="btn btn-primary" href="{% url 'stadiums:list-stadiums' %}">Back to stadiums</a>
  <div class="card mt-2">
    <div class="card-header">
      Stadium
    </div>
    <div class="card-body">
      <p>
        Name: {{ stadium.name }} <br />
        <!-- Team: {{ stadium.team }} -->
        Address: {{ stadium.address }}
      </p>
    </div>
  </div>
{% endblock %}