{% extends 'base.html' %}

{% block title %}Stadium List{% endblock %}

{% block content %}
  {% if not stadiums %}
    <div class="text-center">
      <h3>No stadiums yet</h3>
      <a class="btn" href="{% url 'home:home' %}">Back to home</a>
    </div>
  {% else %}
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Stadium name</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {% for stadium in stadiums %}
          <tr>
            <td>{{ stadium.name }}</td>
            <td>
              <a class="btn btn-primary" href="{% url 'stadiums:detail-stadium' stadium.id %}">Detail</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}
{% endblock %}