{% extends 'base.html' %}

{% block title %}{{ player.first_name }} {{ player.last_name }}{% endblock %}

{% block content %}
  <a class="btn btn-primary" href="{% url 'players:list-players' %}">Back to players</a>
  <div class="card mt-2">
    <div class="card-header">
      Player
    </div>
    <div class="card-body">
      <h5>Name: {{ player.first_name }} {{ player.last_name }}</h5>
      <p>
        <!-- Team: {{ player.team }} -->
        Position: {{ player.position }}
      </p>
    </div>
  </div>
{% endblock %}