{% extends 'base.html' %}

{% block title %}Player List{% endblock %}

{% block content %}
  {% if not players %}
    <div class="text-center">
      <h3>No players yet</h3>
      <a class="btn" href="{% url 'home:home' %}">Back to home</a>
    </div>
  {% else %}
    <form class="form-inline my-2 my-lg-0" method="GET">
      <input class="form-control mr-sm-2" type="search" name="search" placeholder="Search for team" aria-label="SearchForTeam">
      <button class="btn btn-primary my-2 my-sm-0" type="submit">Search for team</button>
    </form>
    <br />
    <form class="form-inline my-2 my-lg-0" method="GET">
      <input class="form-control mr-sm-2" type="search" name="searchForPosition" placeholder="Search for position" aria-label="SearchForPosition">
      <button class="btn btn-primary my-2 my-sm-0" type="submit">Search for position</button>
    </form>
    <br />
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">First name</th>
          <th scope="col">Last name</th>
          <th scope="col">Team</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {% for player in players %}
          <tr>
            <td>{{ player.first_name }}</td>
            <td>{{ player.last_name }}</td>
            <td>{{ player.team }}</td>
            <td>
              <a class="btn btn-primary" href="{% url 'players:detail-player' player.id %}">Detail</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}
{% endblock %}