{% extends 'base.html' %}

{% block title %}{{ team.name }}{% endblock %}

{% block content %}
  <a class="btn btn-primary" href="{% url 'teams:list-teams' %}">Back to teams</a>
  <div class="card mt-2">
    <div class="card-header">
      Team
    </div>
    <div class="card-body">
      <h5>Name: {{ team.name }}</h5>
      <p>
        <!-- Stadium: {{ player.team }} -->
        Location: {{ team.location }}
      </p>
    </div>
  </div>
{% endblock %}