{% extends 'base.html' %}

{% block title %}List of teams{% endblock %}

{% block content %}
  {% if not teams %}
    <div class="text-center">
      <h3>No teams yet</h3>
      <a class="btn" href="{% url 'home:home' %}">Back to home</a>
    </div>
  {% else %}
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Team name</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {% for team in teams %}
          <tr>
            <td>{{ team.name }}</td>
            <td>
              <a class="btn btn-primary" href="{% url 'teams:detail-team' team.id %}">Detail</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}
{% endblock %}