{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %} | Official Site of the National Football League Parra</title>
  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'styles/custom.css' %}">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="{% url 'home:home' %}">NFLP</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="{% url 'home:home' %}">Home</a>
        <a class="nav-item nav-link" href="{% url 'teams:list-teams' %}">Teams</a>
        <a class="nav-item nav-link" href="{% url 'players:list-players' %}">Players</a>
        <a class="nav-item nav-link" href="{% url 'stadiums:list-stadiums' %}">Stadiums</a>
      </div>
    </div>
  </nav>
  
  <div class="container mt-5">
    {% block content %}{% endblock %}
  </div>

  <script src="{% static 'jquery-3.4.1.min.js' %}"></script>
  <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</body>
</html>